* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  width: 40%;
  margin: auto;
  border: 3px solid rgb(66, 6, 6);
  border-radius: 4px;
  align-items: center;
}

.login-form > input,
.login-form > label {
  width: 100%;
  text-align: left;
}

.login-form > input {
  padding: 4px;
  font-size: 16px;
  margin-bottom: 16px;
}

.login-form > h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 16px;
  color: rgb(66, 6, 6);
}

.btn.login {
  width: 30%;
  border: 2px solid rgb(66, 6, 6);
  font-weight: bold;
  color: rgb(66, 6, 6);
  transition: all 0.2s ease-out;
}

.btn.login:hover {
  background: rgb(66, 6, 6);
  color: #fff;
}

@media (max-width: 500px) {
  .login-form {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .login-form {
    width: 70%;
  }
}
