.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table > div {
  padding: 16px 8px;
}

.col-name {
  color: rgb(65, 6, 6);
  border-bottom: 3px solid rgb(65, 6, 6);
  font-weight: bold;
  font-size: 16px;
  padding: 8px 8px !important;
}
